body {
    margin: 0;
    height: 100vh;
    font-family: monospace , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #0f2027, #203a43, #2c5364);
}
.box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 0 20px rgba(255, 255, 255, 0.3);

}
.button-container {
    text-align: center;
}
.button {
    padding: 15px 0;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    color: white;
    width: 150px;
    background-image: linear-gradient(to right, #007BFF, #00c6ff);
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
}

.button:hover {
    background-image: linear-gradient(to right, #0056b3, #0099ff);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 123, 255, 0.7);
}
.signup-button {
    background-image: linear-gradient(to right, #28a745, #42f57b);
    box-shadow: 0 4px 15px rgba(40, 167, 69, 0.5);
}
.signup-button:hover {
    background-image: linear-gradient(to right, #218838, #28d17c);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(40, 167, 69, 0.7);
}
.small-button {
    padding: 10px 20px;
    font-size: q0px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: white;
    width: 120px;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    box-shadow: 0 4px 15px rgba(255, 126, 95, 0.5);
    transition: all 0.3s ease;
    margin-top: 15px;
}

.small-button:hover {
    background-image: linear-gradient(to right, #1600bc, #0161c8);
    transform: scale(1.1);
    box-shadow: 0 5px 12px rgba(20, 53, 91, 0.7);
}
